.root,
.root:link {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0.5rem;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3rem;
  background: rgba(25, 181, 254, 0.8);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  backface-visibility: hidden;
  transition: all 0.1s ease-out;
}

.root:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: rgba(25, 181, 254, 1);
}

.root:active {
  outline: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  background: rgba(25, 181, 254, 1);
}

.root.hero {
  font-size: 1.5rem;
  padding: 1.25rem 4rem;
  background: rgb(255, 255, 255);
  color: rgb(68, 68, 68);
}

.root.hero:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.root.hero:active {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.root.sml {
  padding: 0.2rem 0.7rem;
  font-size: 0.8rem;
}

.root.sml:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.root.sml:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.root.red {
  background: rgba(255, 125, 109, 0.8);
}

.root.red:hover,
.root.red:active {
  background: rgba(255, 125, 109, 1);
}

.root.blue {
  color: rgb(255, 255, 255);
  background: rgba(25, 181, 254, 0.8);
}

.root.blue:hover,
.root.blue:active {
  background: rgba(25, 181, 254, 1);
}

@media (max-width: 37.5em) {
  .root.hero {
    padding: 1rem 3rem;
  }
}
