.root {
  flex: 0 0 47.5%;
  margin: 1.5rem 0;
  text-align: left;
}

div[role="group"] .root {
  margin: 0;
}

.label {
  position: relative;
  font-size: inherit;
  font-weight: 600;
}

.input {
  margin: 1rem 0;
  font-size: inherit;
  color: inherit;
  height: 2rem;
  border: 2px solid #444;
  border-radius: 5px;
  width: 100%;
  padding: 0 0.25rem;
}

.input:active,
.input:focus {
  border-color: rgb(25, 181, 254);
}

.remove {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgba(255, 125, 109, 0.8);
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  transition: all 0.15s ease-in;
}

.remove:hover {
  color: rgba(255, 125, 109, 1);
}

.remove:active {
  color: rgba(255, 125, 109, 1);
}
