.root {
  margin-top: 3rem;
}

.list {
  width: 30rem;
  margin: 2rem auto;
  list-style: none;
  text-align: left;
}

.listLabel {
  text-align: center;
}

.file {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.remove {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 125, 109, 0.8);
  transition: all 0.15s ease-in;
}

.remove:hover {
  color: rgba(255, 125, 109, 1);
}

.remove:active {
  color: rgba(255, 125, 109, 1);
}
