.root {
  height: 5rem;
  background-color: rgb(68, 68, 68);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(68, 68, 68);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(25, 181, 254);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  background-color: rgb(25, 181, 254);
  box-shadow: 0 1rem 2rem rgba(80, 80, 80, 0.4);
}
