.root {
  height: 8vh;
  background-color: #444;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.root a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.root a:hover {
  color: #19b5fe;
}
