.root {
  height: 4rem;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #444;
  font-weight: 600;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  color: #19b5fe;
  box-shadow: 0 1rem 2rem rgba(80, 80, 80, 0.4);
  transform: rotate(5deg) scale(1.25);
}
