.root {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 68, 68);
  padding: 3rem 0;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.title {
  background-image: linear-gradient(
    to right bottom,
    rgba(208, 245, 255, 0.8),
    rgba(0, 128, 197, 0.8)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(25, 181, 254, 1);
  padding-bottom: 0.5rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 80%;
}

.link:not(:last-child) {
  margin: 1.5rem 0;
}

.link,
.link:link,
.link:visited {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: rgb(255, 255, 255);
  transition: transform 0.2s;
}

.link:hover {
  transform: skewX(-9deg) scale(1.2);
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 75em) {
  .root {
    flex: 0 0 30%;
  }
}

@media (max-width: 56.25em) {
  .root {
    width: 60%;
  }

  .root:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .root {
    width: 80%;
  }

  .title {
    font-size: 1.5rem;
  }
}
