.root {
  padding: 10rem 0 8rem 0;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 68, 68);
  text-align: center;
}

.samples {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prompt {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 5rem 0 3rem 0;
  letter-spacing: 0.1rem;
}

@media (max-width: 75em) {
  .samples {
    width: 95%;
  }
}

@media (max-width: 56.25em) {
  .samples {
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .prompt {
    font-size: 1.25rem;
  }
}
